node_modules
.nyc_output
coverage
dist
tests/fixtures/

# Ignore browser-sync config file
bs-config.js

# Ignore distribution directory
dist

# Ignore development directory
archive
docs
public

# Ignore artifacts:
build
coverage

# Ignore . files and directories:
**/.git
**/.svn
**/.hg

# Ignore .gitignore files
.gitignore

# Ignore .toml files - netlify, deepsource, etc
*.toml
