/* import open props */
/* Open Props: A new CSS library by the amazing @argyleink. It's Tailwind but with CSS variables. — https://twitter.com/_davideast/status/1466110686128488450 */

/* index.css */
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/animations.min.css";
@import "https://unpkg.com/open-props/easings.min.css";
@import "https://unpkg.com/open-props/toc.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

@use "postcss-preset-env";

/* ****************** */
/* table of contents */
/* **************** */
/* ***************
 root global styles
 layout
 typography
 colors
 composition
 utility classes
 components
 components/buttons
 components/cards
 components/forms
 components/lists
 components/tables
 components/text
 components/typography
 components/utilities
*/

/* **********************
root global styles
********************** */

:root {
}

*,
::before,
::after {
  --something: something;
  border: 1px solid var(--yellow-2);
}

/* **********************
layout
********************** */

html {
  color-scheme: dark light;
  block-size: 100%;
}

body {
  min-height: 100vh;
  min-block-size: 100%;
  display: grid;
  grid-auto-flow: row;
  place-content: center;
}

/* **********************
typography
********************** */

/* **********************
colors
********************** */

/* **********************
composition
********************** */
.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

/* **********************
utility classes
********************** */
.grid {
  display: grid;
}

.grid--place-center {
  place-content: center;
}

/* **********************
components
********************** */

/* ***********
components/buttons
*********** */
button {
  /*
    using `reverse` means we dont have to put
    opacity: 0 or scale(.8) anywhere
  */
  animation: var(--animation-scale-down) reverse,
    var(--animation-fade-out) reverse;
  animation-timing-function: var(--ease-squish-5);
  animation-duration: 1s;
}

/* */

button {
  padding: 0.5rem 1rem;
  background: #e37;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 4px;
}

.button {
  display: inline-flex;
  white-space: nowrap;

  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-7);

  padding-inline: var(--size-6);
  padding-block: var(--size-3);

  color: var(--blue-9);
  border: var(--border-size-2) solid var(--blue-5);
  background-color: transparent;
  border-radius: var(--radius-2);
}

.button:hover {
  cursor: pointer;
  color: var(--blue-0);
  background-color: var(--blue-5);
}

/* prefers light theme button */
.button.light {
  text-shadow: 0 1px 0 var(--blue-8);
}

.button.light:active {
  position: relative;
  inset-block-start: 2px;
}

/* prefers dark theme button */
.button.dark {
  border-color: var(--blue-3);
  color: var(--blue-1);
}

.button.dark:hover {
  background-color: var(--blue-3);
  color: black;
}

/* ***********
components/cards
*********** */
.card {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-2);
  padding: var(--size-fluid-3);
  box-shadow: var(--shadow-2);
  /* min-width: clamp(300px, 20vw, 40vw); */
  /* position: relative; */
}

.card:hover {
  box-shadow: var(--shadow-3);
}

@media (--motionOK) {
  .card {
    animation: var(--animation-fade-in) 1s;
  }
}

/* h1.card {
  line-height: 1.2;
  margin-block: 0;
} */

/* https://neumorphism.io/#e0e0e0 */
.card--neumorphic__dip-300 {
  border-radius: 50px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.card--neumorphic__dip-700 {
  border-radius: 50px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #9d9d9d, -20px -20px 60px #ffffff;
}

/* ***********
components/forms
*********** */
dialog.modal__dialog {
  background-color: var(--surface-2);

  /* margin: auto;
  position: fixed;
  max-height: calc((100% - 6vw) - 2em);
  max-width: 50ch;
  height: clamp(20ch, 20ch + 20vw, 50ch);
  background-color: #212121;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  padding: 1.8em; */
  --something: something;
}

/* ***********
components/lists
*********** */

/* ***********
components/lists
*********** */

/* ***********
components/tables
*********** */

/* ***********
components/text
*********** */

/* ***********
components/typography
*********** */

/* ***********
components/utilities
*********** */
