/* Open Props: A new CSS library by the amazing @argyleink. It's Tailwind but with CSS variables. — https://twitter.com/_davideast/status/1466110686128488450 */

/* table of contents */

/* ***************
 root global styles
 layout
 typography
 colors
 composition
 utility classes
 components
 components/buttons
 components/cards
 components/circle
 components/forms
 components/lists
 components/tables
 components/text
 components/typography
 components/utilities
 accessibility or a11y "ally"
**************** */

/* **********************
root global styles
********************** */
:root {
  --brand: var(--brand-light);

  --text1: var(--text1-light);
  --text2: var(--text2-light);

  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);

  --font-sans: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif;
  --font-serif: ui-serif, serif;
  --font-mono: Dank Mono, Operator Mono, Inconsolata, Fira Mono, ui-monospace,
    SF Mono, Monaco, Droid Sans Mono, Source Code Pro, monospace;

  /* ********************************
  ************** a11y *************
  **************************** */

  /* a11y high contrast color */
  --indigo-10: #324ebb; /* for <a></a> */
}

@media (prefers-color-scheme: dark) {
  :root {
    --brand: var(--brand-dark);

    --text1: var(--text1-dark);
    --text2: var(--text2-dark);

    --surface1: var(--surface1-dark);
    --surface2: var(--surface2-dark);
    --surface3: var(--surface3-dark);
    --surface4: var(--surface4-dark);
    --indigo-10: #324ebb; /* for <a></a> */
  }
}

@media (prefers-contrast: less) {
  :root {
    --brand: var(--brand-dim);

    --text1: var(--text1-dim);
    --text2: var(--text2-dim);

    --surface1: var(--surface1-dim);
    --surface2: var(--surface2-dim);
    --surface3: var(--surface3-dim);
    --surface4: var(--surface4-dim);
    --indigo-10: #324ebb; /* for <a></a> */
  }
}

[color-scheme="grape"] {
  --brand: var(--brand-grape);

  --text1: var(--text1-grape);
  --text2: var(--text2-grape);

  --surface1: var(--surface1-grape);
  --surface2: var(--surface2-grape);
  --surface3: var(--surface3-grape);
  --surface4: var(--surface4-grape);
  --indigo-10: #324ebb; /* for <a></a> */
}

/* **********************
layout
********************** */
html {
  background-color: var(--surface-1);
  color: var(--text1);
  accent-color: var(--link);

  --brand-light: var(--red-6);

  --text1-light: var(--gray-8);
  --text2-light: var(--gray-7);

  --surface1-light: var(--gray-2);
  --surface2-light: var(--gray-0);
  --surface3-light: var(--gray-1);
  --surface4-light: var(--gray-3);

  --brand-dark: var(--orange-3);

  --text1-dark: var(--gray-1);
  --text2-dark: var(--gray-3);

  --surface1-dark: var(--gray-9);
  --surface2-dark: var(--gray-8);
  --surface3-dark: var(--gray-7);
  --surface4-dark: var(--gray-6);

  --brand-dim: var(--orange-4);

  --text1-dim: var(--gray-3);
  --text2-dim: var(--gray-4);

  --surface1-dim: var(--gray-8);
  --surface2-dim: var(--gray-7);
  --surface3-dim: var(--gray-6);
  --surface4-dim: var(--gray-5);

  --brand-grape: var(--grape-5);

  --text1-grape: var(--grape-9);
  --text2-grape: var(--grape-7);

  --surface1-grape: var(--grape-0);
  --surface2-grape: var(--grape-1);
  --surface3-grape: var(--grape-2);
  --surface4-grape: var(--grape-3);
}

body {
  height: 100vh;

  /* padding-block-start: var(--size-fluid-2); */

  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  gap: var(--size-fluid-3);
  overflow-x: hidden;

  /* grid-auto-flow: row; */

  /* grid-template-columns: 100%; */
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  align-self: center;
}

footer {
  /* padding-block: var(--size-12);  display: grid grid-template-columns: minmax(min(100%, var(--size-content-3)), 80%); gap: var(--size-8); */

  grid-area: footer;
  padding-block: var(--size-fluid-3);
  border-color: var(--surface-3);
  background-color: var(--surface-2);
  justify-content: space-around;
  border-top-width: var(--border-size-1);
}

/* **********************
typography
********************** */

h1,
h2,
h3,
h4,
p,
dt {
  color: var(--text1);
}

h5,
h6,
small,
dd {
  color: var(--text2);
}

h1 {
  max-inline-size: var(--size-header-2);
}

small {
  max-inline-size: var(--size-header-1);
}

p {
  max-inline-size: var(--size-content-3);
}

aside {
  max-inline-size: var(--size-content-2);
}

li.footer-primary__item {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-6);
}

.footer-nav-heading {
  font-size: var(--font-size-fluid-0);
  font-weight: var(--font-weight-7);
  margin-bottom: var(--size-fluid-1);
}

/* inline external link svg within a - credits to docusaurus */
.footer__link-item {
  display: flex;
  gap: var(--size-1);
}

/* **********************
colors
********************** */

/* change visited a links color */

footer a {
  color: var(--indigo-10);
}

footer a:visited {
  color: var(--indigo-10);
}

.noise-noise-noise {
  /* stack grain with a gradient */
  background-image: var(--gradient-3), var(--noise-3);
  /* force colors and noise to collide */
  filter: var(--noise-filter-3);
  /* fit noise image to element */
  background-size: cover;
}

.gradient-text {
  background: var(--gradient-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* **********************
composition
********************** */

.container {
  max-width: min(100% - 2em, 60em); /* max-width: 60em; */
  margin-inline: auto; /* padding: 0 var(--size-fluid-3); */
}

.footer-primary {
  max-width: min(100% - 2em, 50em);
  justify-content: space-between;
}

/* **********************
utility classes
********************** */

/* z-index */
.desperate-measures {
  position: fixed;
  z-index: var(--layer-important);
}

/* surface */
.surface1 {
  background-color: var(--surface1);
  color: var(--text2);
}

.surface2 {
  background-color: var(--surface2);
  color: var(--text2);
}

.surface3 {
  background-color: var(--surface3);
  color: var(--text1);
}

.surface4 {
  background-color: var(--surface4);
  color: var(--text1);
}

/* grid utitlity */
.grid {
  display: grid;
}

.grid--column {
  grid-auto-flow: column;
}

.grid--place-center {
  place-items: center;
}

/* flex utility */
.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.flex--wrap {
  flex-wrap: wrap;
}

/* gap utility */
.gap--f1 {
  gap: var(--size-fluid-1);
}

.gap--f2 {
  gap: var(--size-fluid-2);
}

/* align utility */
.flex--align-center {
  align-items: center;
}

.align-items--center {
  align-items: center;
}

.justify-content--center {
  justify-content: center;
}

/* animation utility */
.slight-ease {
  animation: fade-in 300ms var(--ease-1);
}

.dramatic-ease {
  animation: fade-in 1s var(--ease-5);
}

.loaded {
  animation: var(--animation-fade-in) forwards;
}

.actionsheet {
  animation: var(--animation-slide-out-down) forwards;

  &.open {
    animation: var(--animation-slide-in-up) forwards;
  }
}

.alert {
  animation: var(--animation-blink);
}

.push-out {
  animation: var(--animation-scale-down), var(--animation-fade-out);
  animation-timing-function: var(--ease-squish-4);
}

.slide-fade {
  animation: var(--animation-fade-out) forwards, var(--animation-slide-out-down);
  animation-timing-function: var(--ease-squish-3);
  animation-duration: 1s;
}

/* **********************
components
********************** */

/* ***********
components/buttons
*********** */

button {
  animation: var(--animation-scale-down) reverse,
    var(--animation-fade-out) reverse;
  animation-timing-function: var(--ease-squish-5);
  animation-duration: 1s;
}

ul[data-state="listStyleNoneBtn"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul[data-state="listStyleNoneBtn"] li {
  padding-inline-start: 0;
}

.btn-selections-start-settings > ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-fluid-1);
}
/* ***********
components/cards
*********** */
.card {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-conditional-4);
  padding: var(--size-fluid-4);
  box-shadow: var(--shadow-4);
  /* position: relative; */
  animation: var(--animation-fade-in) 1s;
  background-color: var(--surface-2);
  block-size: var(--size-content-3);
  aspect-ratio: var(--ratio-golden);
}

.card:hover {
  box-shadow: var(--shadow-3);
  transition: box-shadow 0.2s ease-in-out;
}

/* @media (--motionOK) {
  .card {
    animation: var(--animation-fade-in) 1s;
  }
} */

.card__heading {
  line-height: 1.2;
  margin-block: 0;
  margin-inline: 0;
  font-size: var(--font-size-fluid-3);
  color: var(--blue-9);
}

/* ***********
components/circle
*********** */
.circle {
  inline-size: var(--size-5);
  aspect-ratio: var(--ratio-square);
  border-radius: var(--radius-round);
}

/* ***********
components/forms
*********** */
.modal__dialog {
  background-color: var(--surface-2);
}

/* ***********
components/lists
*********** */

/* footer lists */

/* add data-state attribute */
ul[data-state="listStyleNoneNav"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul[data-state="listStyleNoneNav"] li {
  padding-inline-start: 0;
}

/* ***********
components/tables
*********** */

/* ***********
components/text
*********** */

.card__shortcuts {
  font-weight: var(--font-weight-6);
  z-index: var(--layer-2);
}

/* ***********
components/typography
*********** */

/* exceptions */

/* ***********
components/utilities
*********** */

/* ***********
ccessibility or a11y "ally"
*********** */

a.info {
  position: relative;
  z-index: 24;
  background-color: #ccc;
  color: #000;
  text-decoration: none;
}
a.info:hover,
a.info:focus,
a.info:active {
  z-index: 25;
  background-color: #ff0;
}
a.info span {
  position: absolute;
  left: -9000px;
  width: 0;
  overflow: hidden;
}
a.info:hover span,
a.info:focus span,
a.info:active span {
  display: block;
  position: absolute;
  top: 1em;
  left: 1em;
  width: 12em;
  border: 1px solid #0cf;
  background-color: #cff;
  color: #000;
  text-align: center;
}
div.example {
  margin-left: 5em;
}
