*,
::before,
::after {
  box-sizing: border-box;
  /* margin: 0; */
  /* padding: 0; */
  /* border: 1px solid rebeccapurple; */
}

body {
  /* background-color: #212121; */
  background-color: #1e1c1c;
  color: #f1f1f1;
  /* display: grid; */
  /* place-items: center; */
  min-height: 100vh;
  text-align: center;
}

dialog {
  /* position: relative; */
  margin: auto;
}

label {
  color: #f1f1f1;
}

.modal {
  /* position: relative; */
  /* display: grid; */
  /* place-items: center; */
  /* z-index: 9000; */
}

/* form {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
} */

dialog.modal__dialog {
  position: fixed;
  max-height: calc((100% - 6vw) - 2em);
  max-width: 50ch;
  height: clamp(20ch, 20ch + 20vw, 50ch);
  background-color: #212121;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  padding: 1.8em;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  /* gap: 1em; */
  padding: 1.8em;
  max-width: clamp(300px, 20vw, 40vw);
  position: relative;
}

h1.card {
  line-height: 1.2;
  margin-block: 0;
}

.card--neumorphic-300 {
  border-radius: 50px;
  background: #1e1c1c;
  box-shadow: 20px 20px 60px #1a1818, -20px -20px 60px #232020;
}

.card--neumorphic-700 {
  border-radius: 50px;
  background: #1e1c1c;
  box-shadow: 28px 28px 21px #1a1818, -28px -28px 21px #232020;
}

.card--neumorphic__dip-300 {
  border-radius: 52px;
  background: linear-gradient(145deg, #1b1919, #201e1e);
  box-shadow: 5px 5px 33px #1d1b1b, -5px -5px 33px #1f1d1d;
}

.card--neumorphic__dip-700 {
  border-radius: 50px;
  background: linear-gradient(145deg, #1b1919, #201e1e);
  box-shadow: 28px 28px 21px #1a1818, -28px -28px 21px #232020;
}

code {
  color: #ff4545;
}
