:root {
  --limegreen-0: hsl(92, 59%, 94%);
  --limegreen-1: hsl(92, 59%, 92%);
  --limegreen-2: hsl(92, 59%, 90%);
  --limegreen-3: hsl(92, 59%, 88%);
  --limegreen-4: hsl(92, 59%, 86%);
  --limegreen-5: hsl(92, 59%, 84%);
  --limegreen-6: hsl(92, 59%, 82%);
  --limegreen-7: hsl(92, 59%, 80%);
  --limegreen-8: hsl(92, 59%, 78%);
  --limegreen-9: hsl(92, 59%, 76%);

  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);

  --instagram-start: hsl(37, 97%, 70%);
  --instagram-end: hsl(329, 70%, 58%);

  --youtube: hsl(348, 97%, 39%);

  --toggle-bg-start: hsl(210, 78%, 56%);
  --toggle-bg-end: hsl(146, 68%, 55%);

  --toggle-bg-hover-start: hsl(210, 78%, 54%);
  --toggle-bg-hover-end: hsl(146, 68%, 53%);

  --toggle-bg-active-start: hsl(210, 78%, 54%);
  --toggle-bg-active-end: hsl(146, 68%, 53%);

  --toggle: hsl(230, 22%, 74%);
  --toggle-active: hsl(230, 22%, 74%);
  --toggle-focus: hsl(230, 22%, 74%);

  --dark-bg: hsl(230, 17%, 14%);
  --dark-bg-top: hsl(232, 19%, 15%);
  --dark-card: hsl(228, 28%, 20%);
  --dark-text-1: hsl(228, 34%, 66%);
  --dark-text-2: hsl(0, 0%, 100%);

  --light-bg: hsl(0, 0%, 100%);
  --light-bg-top: hsl(225, 100%, 98%);
  --light-card: hsl(227, 47%, 96%);
  --light-text-1: hsl(228, 12%, 44%);
  --light-text-2: hsl(230, 17%, 14%);
}

// light theme is default
